.submit-btn {
    background-color: green;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    }
.submit-btn:hover {
        background-color: blue;
        color: white;
        cursor: pointer;
        transform: scale(1.1);
      }
.button-container{
    align-items: center;
    display: flex;
    justify-content: center;
}    
body {
    background-color: #EFE6B3;
}
