#submit {
    background-color: rgb(231, 255, 12);
    padding: 20px 30px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    animation: pulse 0.5s ease-out;
    cursor: pointer;
    }
    
#submit:hover {
        background-color: rgb(0, 255, 255);
        padding: 25px 40px;
        color: rgb(0, 0, 0);
        cursor: pointer;
        @keyframes pulse {
            0% {transform: scale(1);}
            50% {transform: scale(1.1);}
            100% {transform: scale(1);}
        }
      }
#submit-container{
    align-items: center;
    display: flex;
    justify-content: center;
}    
body {
    background-color: #EFE6B3;
    /* border: ; */
}
#h1-vehicles{
  display: flex;
  background-color: rgb(250, 211, 160);
  justify-content: center;
  align-items: center;
  font-size: 70px;
  border: 10px solid rgb(255, 255, 255);
}

#h1-vehicles:hover {
    background-color: #255e20;
    border: 10px solid #00f128;
    color: white;
    cursor: pointer;
  }
  
  /* .left-img {
    background-position: left;
    background-size: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -4;
  } */

  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .th {
      padding: 8px;
      background-color: #b82525;
      text-align: left;
      border: 5px solid #ddd;
  }
  
  .td {
    padding: 8px;
    background-color: #eecd13;
    text-align: left;
    font-size: 20px;
    font-family: Arial;
    border: 5px solid #ddd;
  }
  
  .highlight-row {
    background-color: #1a6d1e;
  }
  
  
  