 body{
  background-color: #EFE6B3;
}

 nav{
   color: #EFE6B3; 
  height: 80px;
}

.label {
  font-weight: bold;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#btn {
  background-color: rgb(61, 105, 61);
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;


 
}

#electricForm{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 200px;
}

#unitValue{
  padding-right: 5px;
}

#home{
  margin-left: 900px;
}

#logo{
  display: flex;
  align-items: flex-start;
  margin-top: -270px;
  

}

#img2{
  margin-left: 830px;
  margin-top: -300px;
}

#intro{
  margin-left: 50px;
  font-size: 20px;
 
}

#save{
  font-size: 80px;
  margin-left: 50px;
  margin-top: -160px;
}

#secondDiv {

  background-color: white;
  padding-bottom: 35px;
  padding-top: 25px;
  margin-top: -50px;


}  

#secondDiv h1, p{
  margin-left: 50px;
  
}

#img3{
  margin-left: 850px;
  margin-top: -250px;
}