 @import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');


body{
  background-color: #EFE6B3;
}

 nav{
   color: #EFE6B3; 
  height: 80px;
}
#navBar{
  margin-left: 520px;
}

.label {
  font-weight: bold;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#btn {
  background-color: rgb(61, 105, 61);
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
 
}
#electricValue{
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  font-weight: bold;
  /* text-decoration: underline; */
}

#electricForm{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 200px;
}

#unitValue{
  padding-right: 5px;
}

#home{
  margin-left: 900px;
}

#logo{
  display: flex;
  align-items: flex-start;
  margin-top: -260px;
   

}

#img2{
  margin-left: 1000px;
  margin-top: -280px;
}

#intro{
  margin-left: 50px;
  font-size: 20px;
 
}

#save{
  font-size: 80px;
  margin-left: 50px;
  margin-top: -160px;
  
}

#secondDiv {

  background-color: white;
  padding-bottom: 35px;
  padding-top: 25px;
  margin-top: -50px;


}  

#secondDiv h1, p{
  margin-left: 50px;
  margin-top: 25px;
  
}

#img3{
  margin-left: 1000px;
  margin-top: -250px;
}

#thirdDiv{
  background: hsla(0, 0%, 100%, 1);

  background: linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(111, 100%, 92%, 1) 100%);
  
  background: -moz-linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(111, 100%, 92%, 1) 100%);
  
  background: -webkit-linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(111, 100%, 92%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#DEFFD8", GradientType=1 );

padding-bottom: 150px;

text-align: center;
}

#howItWorks h1{
  text-align: center;
  margin-top: 0px; 
 

}

#howItWorks2{
  text-align: center;
  margin-top: 40px;
}

#list1{
  text-align: center;
  margin-top: 50px;
  vertical-align: middle;
}

#Apiform{
 
 margin: 0 auto;
 text-align: center;
 width: 50%;
 margin-top: 100px;
 outline: none;

 
}

#ApiInput1{
  border: none;
  padding-bottom: 10px;
  outline: none;
  width: 100%;
  margin-left: -10px;

  /* color: #efe6b3 */
}

#ApiInput2{
  border: none;
  margin-left: -10px;
  padding-bottom: 10px;
  width: 100%;
  

}

#ApiInput3{
  border: none;
  margin-left: -10px;
  padding-bottom: 10px;
  width: 100%;
}

#ApiInput4{
  border: none;
  margin-left: -10px;
  border-color: none;
  width: 100%;
}
#Apibtn{
  background-color: #92CF34;
  padding-left: 10px ;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20%;
  border-radius: 5px;
  margin-top: 20px;
}

#displayArticle{
  
}
